/* =Reset
-----------------------------------------------------------------------------*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img {
  box-sizing: content-box;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote p:before,
blockquote p:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  vertical-align: top;
}
thead th,
thead td {
  font-weight: bold;
  vertical-align: bottom;
}
a img,
th img,
td img {
  vertical-align: top;
}
button,
input,
select,
textarea {
  margin: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
button {
  width: auto;
  overflow: visible;
}
input[type="reset"],
input[type="submit"],
input[type="file"],
input[type="radio"],
input[type="checkbox"],
select,
button {
  cursor: pointer;
}
button:active,
button:focus {
  outline: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="radio"],
input[type="checkbox"] {
  font-size: 110%;
  position: relative;
  margin-right: 3px;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
hr {
  display: block;
  box-sizing: content-box;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
img,
video,
audio,
embed,
object {
  max-width: 100%;
}
img,
video,
embed,
object {
  height: auto;
}
embed,
object {
  height: 100%;
}
img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
/* =Typography
-----------------------------------------------------------------------------*/
html {
  font-size: 62.5%;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  line-height: 24px;
  background: #fff;
  color: #202020;
}
/* =Links
-----------------------------------------------------------------------------*/
a {
  color: #256bc9;
}
a:hover {
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: #e21e3b;
}
/* =Headings
-----------------------------------------------------------------------------*/
.title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #000;
  text-rendering: optimizeLegibility;
}
.title,
h1 {
  margin-bottom: 16px;
}
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 8px;
}
.title,
h1,
h2,
h3,
h4 {
  margin-left: -1px;
}
.title {
  font-size: 4.8rem;
  line-height: 56px;
}
h1 {
  font-size: 3rem;
  line-height: 32px;
}
h2 {
  font-size: 2.4rem;
  line-height: 32px;
}
h3 {
  font-size: 2rem;
  line-height: 24px;
}
h4 {
  font-size: 1.8rem;
  line-height: 24px;
}
h5 {
  font-size: 1.6rem;
  line-height: 24px;
}
h6 {
  font-size: 1.5rem;
  line-height: 24px;
  text-transform: uppercase;
}
p + h1,
ul + h1,
ol + h1,
dl + h1,
blockquote + h1,
hr + h1,
pre + h1,
table + h1,
form + h1,
figure + h1,
address + h1,
p + h2,
ul + h2,
ol + h2,
dl + h2,
blockquote + h2,
hr + h2,
pre + h2,
table + h2,
form + h2,
figure + h2,
address + h2,
p + h3,
ul + h3,
ol + h3,
dl + h3,
blockquote + h3,
hr + h3,
pre + h3,
table + h3,
form + h3,
figure + h3,
address + h3,
p + h4,
ul + h4,
ol + h4,
dl + h4,
blockquote + h4,
hr + h4,
pre + h4,
table + h4,
form + h4,
figure + h4,
address + h4,
p + h5,
ul + h5,
ol + h5,
dl + h5,
blockquote + h5,
hr + h5,
pre + h5,
table + h5,
form + h5,
figure + h5,
address + h5,
p + h6,
ul + h6,
ol + h6,
dl + h6,
blockquote + h6,
hr + h6,
pre + h6,
table + h6,
form + h6,
figure + h6,
address + h6 {
  margin-top: 24px;
}
/* =Line height and margin
-----------------------------------------------------------------------------*/
ul,
ol,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0 0 0 24px;
}
ol ol li {
  list-style-type: lower-alpha;
}
ol ol ol li {
  list-style-type: lower-roman;
}
p,
ul,
ol,
dl,
blockquote,
hr,
pre,
table,
fieldset,
figure,
address,
output {
  margin-bottom: 16px;
}
/* =Lead
-----------------------------------------------------------------------------*/
.lead {
  font-size: 120%;
  line-height: 28px;
}
/* =Quote
-----------------------------------------------------------------------------*/
blockquote {
  font-style: italic;
  font-size: 120%;
  line-height: 28px;
  padding-left: 24px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
blockquote cite {
  font-size: 86%;
  font-weight: normal;
  line-height: 20px;
}
/* =Address
-----------------------------------------------------------------------------*/
address {
  font-style: normal;
}
/* =Definition list
-----------------------------------------------------------------------------*/
dl dt {
  font-weight: bold;
}
dd {
  margin-left: 24px;
}
/* =Text-level
-----------------------------------------------------------------------------*/
cite {
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
}
small {
  font-size: 86%;
  line-height: 20px;
}
s,
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #202020;
  cursor: help;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
sub,
sup {
  font-size: 74%;
  line-height: 0;
  position: relative;
  margin-left: .2rem;
}
sup {
  top: -0.4rem;
}
sub {
  bottom: -0.2rem;
}
figcaption {
  margin: .3rem 0;
  font-size: 86%;
  font-style: italic;
}
ins,
u {
  text-decoration: underline;
}
mark {
  background-color: #ffd61e;
  color: #202020;
  text-decoration: none;
}
time {
  font-size: 74%;
}
/* =Code
-----------------------------------------------------------------------------*/
pre,
code,
kbd,
samp,
var,
output {
  font-size: 90%;
  font-style: normal;
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
}
pre {
  font-size: 90%;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.9);
  overflow: auto;
  background: rgba(0, 0, 0, 0.03);
  padding: 24px;
  word-wrap: normal;
}
td pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
mark,
code,
samp,
kbd {
  padding: .2rem .4rem;
  display: inline-block;
  line-height: 1;
  border-radius: 0;
}
code {
  background: rgba(0, 0, 0, 0.07);
}
pre code {
  font-size: 100%;
  border: none;
  padding: 0;
  background: none;
  line-height: 24px;
}
var {
  color: rgba(0, 0, 0, 0.5);
}
samp {
  background: #46a9fc;
  color: rgba(255, 255, 255, 0.95);
}
kbd {
  background: #202020;
  color: rgba(255, 255, 255, 0.85);
  white-space: nowrap;
}
/* =Buttons
-----------------------------------------------------------------------------*/
.btn,
button {
  display: inline-block;
  vertical-align: top;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  white-space: nowrap;
  padding: 0 3.2rem;
  height: 4rem;
  min-width: 12rem;
  line-height: 1.4rem;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  outline: none;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  color: #000000;
  background: #e5e5e5;
}
.btn:active,
button:active {
  background-color: #ededed;
  color: rgba(0, 0, 0, 0.6);
}
.btn::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.btn[disabled],
button[disabled] {
  cursor: default;
  box-shadow: none;
  opacity: 0.4;
}
.btn[disabled]:active,
button[disabled]:active {
  background: #e5e5e5;
  color: #000000;
  text-decoration: none;
}
.btn[outline],
button[outline] {
  padding: 0 3.1rem;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.6);
}
.btn[outline]:active,
button[outline]:active {
  border-color: #000000;
  color: #000000;
}
.btn[outline][disabled],
button[outline][disabled] {
  cursor: default;
  box-shadow: none;
  opacity: 0.4;
}
.btn[outline][disabled]:active,
button[outline][disabled]:active {
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: none;
  color: rgba(0, 0, 0, 0.7);
}
.btn[small],
button[small] {
  font-size: 1.2rem;
  padding: 0 2rem;
  height: 3.2rem;
  min-width: 9.6rem;
  line-height: 1.2rem;
}
.btn[small][outline],
button[small][outline] {
  padding: 0 1.9rem;
}
.btn[upper],
button[upper] {
  text-transform: uppercase;
  font-size: 1.1rem;
}
.btn[upper][small],
button[upper][small] {
  font-size: 1rem;
}
.btn[round],
button[round] {
  padding: 0 !important;
  min-width: 0;
  width: 4rem;
  border-radius: 4rem;
}
.btn[round][small],
button[round][small] {
  width: 3.2rem !important;
  border-radius: 3.2rem;
}
.btn[type="primary"],
button[type="primary"] {
  color: rgba(255, 255, 255, 0.9);
  background: #2f77d1;
}
.btn[type="primary"]:active,
button[type="primary"]:active {
  color: rgba(255, 255, 255, 0.7);
  background-color: #5992da;
}
.btn[type="primary"][disabled]:active,
button[type="primary"][disabled]:active {
  color: rgba(255, 255, 255, 0.9);
  background: #2f77d1;
}
.btn[type="primary"][outline],
button[type="primary"][outline] {
  background: none;
  color: #2f77d1;
  border-color: #2f77d1;
}
.btn[type="primary"][outline]:active,
button[type="primary"][outline]:active {
  background: #2f77d1;
  border-color: #2f77d1;
  color: rgba(255, 255, 255, 0.9);
}
.btn[type="primary"][outline][disabled]:active,
button[type="primary"][outline][disabled]:active {
  background: none;
  border-color: #2f77d1;
  color: #2f77d1;
}
button[square] {
  padding: 0 !important;
  min-width: 0;
  width: 4rem;
  font-weight: bold;
  background: none;
}
button[square]:active {
  opacity: 0.1;
}
.btn-group {
  display: inline-block;
  vertical-align: bottom;
}
.btn-group:after {
  content: "";
  display: block;
  clear: both;
}
.btn-group .btn,
.btn-group button {
  float: left;
  margin-left: -1px;
}
.btn-group .btn:first-child,
.btn-group button:first-child {
  border-radius: 0 0 0 0;
}
.btn-group .btn:last-child,
.btn-group button:last-child {
  border-radius: 0 0 0 0;
}
body {
  width: 360px;
}
header,
.modal {
  height: 4.8rem;
}
header[rows="2"],
.modal[rows="2"] {
  height: 9.6rem;
}
header[rows="3"],
.modal[rows="3"] {
  height: 14.4rem;
}
header[rows="4"],
.modal[rows="4"] {
  height: 19.2rem;
}
header {
  padding: 0.4rem;
}
.connected {
  background-color: cornflowerblue;
}
.disconnected {
  background-color: lightcoral;
}
.search {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  margin: 24px 12px;
  width: 336px;
  height: 48px;
  background-color: lightgray;
}
.search > input[type="text"] {
  margin: 8px 12px;
  width: 72px;
  background-color: white;
  font: 16px/32px OpenSansRegular, sans-serif;
  text-align: center;
}
header > .details,
.search > .details {
  display: inline-block;
  margin-left: 8px;
  height: 40px;
  width: 160px;
  font: 16px/42px OpenSansRegular, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.search > button {
  display: inline-block;
  text-align: center;
  width: 48px;
  height: 48px;
  float: right;
  background-color: orange;
}
.list {
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 36px;
  letter-spacing: .2em;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.round {
  box-sizing: border-box;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  font-size: 36px;
  line-height: 64px;
  color: rgba(1, 1, 1, 0.6);
  padding: 0 !important;
  background: none;
  border: 4px solid rgba(0, 0, 0, 0.25);
  height: 72px;
  width: 72px;
  border-radius: 72px;
  margin: 0 auto;
}
/*****************************/
#settings > .modal:first-child {
  margin-top: 24px;
}
.modal > label {
  display: inline-block;
  margin-left: 12px;
  width: 196px;
  text-transform: uppercase;
  font-size: 1.1rem;
}
input[type="text"] {
  margin: 8px 12px;
  width: 72px;
  background-color: white;
  font: 16px/32px OpenSansRegular, sans-serif;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.modal > button {
  display: inline-block;
  text-align: center;
  margin: 4px;
}
.save {
  margin: 28px 0 4px 0;
  width: 100%;
}
