html, 
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src:  url('./fonts/light/Roboto-Light-webfont.woff') format('woff'),
        url('./fonts/light/Roboto-Light-webfont.ttf') format('truetype');

}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:  url('./fonts/regular/Roboto-Regular-webfont.woff') format('woff'),
        url('./fonts/regular/Roboto-Regular-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:  url('./fonts/medium/Roboto-Medium-webfont.woff') format('woff'),
        url('./fonts/medium/Roboto-Medium-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:  url('./fonts/bold/Roboto-Bold-webfont.woff') format('woff'),
        url('./fonts/bold/Roboto-Bold-webfont.ttf') format('truetype');
}

.main-600 {
  width: 600px;
  padding: 0 16px 16px 16px;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  margin: 16px auto;
}

.test001 {
  width: 320px !important;
}


.test003 {
  color: black;
  padding: 24px 0 0 0;
  font-family: Roboto, Helvetica, Arial;
  font-size: 24px;
  line-height: 29px;
}

.address {
  display: inline-block;
  width: 180px;
  padding: 10px 0 10px 0;
}

.filename {
  display: inline-block;
  width: 200px;
  margin-left: 6px;
  border-bottom: 1px solid #ddd;
}

.subtitle {
  margin: 8px 0;
  color: rgba(0, 0, 0, 0.54);
}

.narrow__textfield {
  width: 184px !important;
  padding-right: 16px;
}
