/* temporary styles for results display */

.upperbanner, 
.lowerbanner {
  display: block;
  width: 40rem;
  height: 4.0rem;
  margin: 0 auto;
/*  background-color: #ccc; */
}

.results-row {
  background-color: #202020; 
  
  width : 100%;
  padding: 0.25rem 0;
  margin: 0.25rem 0;
  
  font  : 1.0rem/1.5rem Roboto, sans-serif;
  font-weight: 400;
  color : #ddd;
}

.results-row span.rank,
.results-row span.code,
.results-row span.atts {
  display: inline-block;
  width  : 2.0rem;

  font   : 0.8rem/1.5rem Roboto, sans-serif;
  text-align: center;
}

.results-row span.name {
  display : inline-block;
  width   : 7.5rem;
}

.results {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.5rem;
}

.results div.cell {
  display: inline-block;
  border: 1px inset rgba(59, 58, 58, .5);
  width: 1.0rem;
  height: 1.5rem;
  color: red;
  vertical-align: top;
  font   : 0.8rem/1.5rem Roboto, sans-serif;
  text-align: center;
}
