/* Modifiers for CWIF Results */
.upperbanner { 
  font   : 1.2rem/4.0rem Roboto, sans-serif;
  text-align: center;
  color: white; 
}

.results div.cell {
  border: 1px inset rgba(59, 58, 58, .1);
  width: 0.2rem;
  vertical-align: bottom;
}

.results div.cell:nth-of-type(5n) {
  border-bottom: 1px solid white;
} 

.atts {
  text-align: right !important;
  margin-right: 24px;
}

.h2 { height: 1.0rem !important; }
.h3 { height: 0.5rem !important; }
