.res_selector {
  width: 800px;
  padding: 0 16px;
  margin: 0 auto;
}

.narrow__textfield {
  width: 184px !important;
  padding-right: 16px;
}

table {
  margin: 0 auto;
}

.res_selector > .pad_right {
  margin-right: 64px !important;
}

.res_selector > .pad_left {
  margin-left: 64px !important;
}
