html, 
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src:  url('./fonts/light/Roboto-Light-webfont.woff') format('woff'),
        url('./fonts/light/Roboto-Light-webfont.ttf') format('truetype');

}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:  url('./fonts/regular/Roboto-Regular-webfont.woff') format('woff'),
        url('./fonts/regular/Roboto-Regular-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:  url('./fonts/medium/Roboto-Medium-webfont.woff') format('woff'),
        url('./fonts/medium/Roboto-Medium-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:  url('./fonts/bold/Roboto-Bold-webfont.woff') format('woff'),
        url('./fonts/bold/Roboto-Bold-webfont.ttf') format('truetype');
}


/* Main container */
.main-800 {
  width: 800px;
  position: relative;
  padding: 0 16px 16px 48px;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  margin: 40px auto;
  vertical-align: top;
}

.inset {
}

/* Name and result elements */
.name, .result {
  margin-top: 35px;
  font-family: Roboto, Helvetica, Arial;
  font-size: 18px;
  line-height: 24px;
}

.name {
  position: absolute;
  display: inline-block;
}

.result {
  float: right;
  text-align: right;
  margin-right: 32px;
}

/* Textfield definitions */
.narrow__textfield {
  width: 184px !important;
  padding-right: 16px;
}

.xsmall__textfield {
  font-weight: light;
  width: 104px !important;
  padding-right: 16px;
  margin-right: 16px !important;
  padding-bottom: 0px !important;
}

/* Position the submit button */
.button_container {
  float: right;
  margin-right: 32px;
  margin-top: 20px;
}
