/* =Reset
-----------------------------------------------------------------------------*/
html { box-sizing: border-box; }

body { margin: 0; }

/* =Typography
-----------------------------------------------------------------------------*/
html { font-size: 62.5%; }

body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1.6em; line-height: 2.4em; background: #ffffff; color: #202020; }

/* =Links
-----------------------------------------------------------------------------*/
/* =Headings
-----------------------------------------------------------------------------*/
/* =Line height and margin
-----------------------------------------------------------------------------*/
/* =Lead
-----------------------------------------------------------------------------*/
/* =Quote
-----------------------------------------------------------------------------*/
/* =Address
-----------------------------------------------------------------------------*/
/* =Definition list
-----------------------------------------------------------------------------*/
/* =Text-level
-----------------------------------------------------------------------------*/
strong, b { font-weight: bold; }

/* =Code
-----------------------------------------------------------------------------*/
/* =Form Elements
-----------------------------------------------------------------------------*/
input[type=text] { margin: 8px 12px; font: 1.6rem sans-serif; line-height: 3.2rem; text-align: center; border: 1px solid rgba(0, 0, 0, 0.25); padding: 0; border-radius: 0; -webkit-appearance: none; }

/* =Button Variables
-----------------------------------------------------------------------------*/
/* =Buttons
-----------------------------------------------------------------------------*/
button { display: inline-block; vertical-align: top; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1.4rem; font-weight: normal; white-space: nowrap; padding: 0 3.2rem; height: 4rem; min-width: 12rem; line-height: 1.4rem; text-align: center; text-decoration: none; -webkit-appearance: none; outline: none; margin: 0; border: none; border-radius: 0; box-shadow: none; cursor: pointer; color: black; background: #e5e5e5; }
button:active { background-color: #ededed; color: rgba(0, 0, 0, 0.6); }
button::-moz-focus-inner { border: 0; padding: 0; }
button[outline] { padding: 0 3.1rem; background: none; border: 1px solid rgba(0, 0, 0, 0.25); color: rgba(0, 0, 0, 0.6); }
button[outline]:active { border-color: black; color: black; }
button[small] { font-size: 1.2rem; padding: 0 2rem; height: 3.2rem; min-width: 9.6rem; line-height: 1.2rem; }
button[small][outline] { padding: 0 1.9rem; }
button[upper] { text-transform: uppercase; font-size: 1.1rem; }
button[upper][small] { font-size: 1rem; }
button[type="primary"] { color: rgba(255, 255, 255, 0.9); background: #2f77d1; }
button[type="primary"]:active { color: rgba(255, 255, 255, 0.7); background-color: #5992da; }
button[type="primary"][disabled]:active { color: rgba(255, 255, 255, 0.9); background: #2f77d1; }
button[type="primary"][outline] { background: none; color: #2f77d1; border-color: #2f77d1; }
button[type="primary"][outline]:active { background: #2f77d1; border-color: #2f77d1; color: rgba(255, 255, 255, 0.9); }
button[type="primary"][outline][disabled]:active { background: none; border-color: #2f77d1; color: #2f77d1; }
button[square] { padding: 0 !important; min-width: 0; font-weight: bold; background: none; }
button[square]:active { opacity: 0.1; }

/* =Application / mixins and variables 
-----------------------------------------------------------------------------*/
body { width: 36rem; }

/* =Application / general text cell styling 
-----------------------------------------------------------------------------*/
.details { display: inline-block; margin: 0 0 0 0.8rem; width: 16rem; font: 1.6rem sans-serif; line-height: 4.8rem; white-space: nowrap; overflow: hidden; -webkit-text-overflow: ellipsis; text-overflow: ellipsis; }

/* =Application / header bar
-----------------------------------------------------------------------------*/
header { height: 4.8rem; }
header[rows="2"] { height: 9.6rem; }
header[rows="3"] { height: 14.4rem; }
header[rows="4"] { height: 19.2rem; }
header.connected { background-color: cornflowerblue; }
header.disconnected { background-color: darkorange; }
header button { width: 4.8rem; height: 4.8rem; }

/* =Application / results panel 
-----------------------------------------------------------------------------*/
#results .search { display: inline-block; box-sizing: border-box; vertical-align: top; margin: 2.4rem 1.2rem; width: 33.6rem; height: 4.8rem; background-color: lightgray; }
#results .search input[type=text] { float: left; width: 72px; }
#results .search button { width: 4.8rem; height: 4.8rem; float: right; background-color: orange; }
#results .row { text-align: center; }
#results .row .list { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; padding: 1rem 0 0.2rem 0; text-transform: uppercase; font-size: 1.1rem; line-height: 36px; letter-spacing: .2em; width: 100%; }
#results .row .round { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; box-sizing: border-box; margin: 0 auto; font-size: 36px; line-height: 64px; color: rgba(1, 1, 1, 0.6); border: 4px solid rgba(0, 0, 0, 0.25); border-radius: 72px; height: 72px; width: 72px; }

/* =Application / settings panel
-----------------------------------------------------------------------------*/
#settings :first-child { margin-top: 2.4rem; }
#settings .modal { height: 4.8rem; }
#settings .modal[rows="2"] { height: 9.6rem; }
#settings .modal[rows="3"] { height: 14.4rem; }
#settings .modal[rows="4"] { height: 19.2rem; }
#settings .modal label { display: inline-block; margin: 0 0 0 1.8rem; width: 21.6rem; text-transform: uppercase; font-size: 1.1rem; line-height: 4.8rem; }
#settings .modal input[type=text] { width: 72px; }
#settings button { margin: 2.4rem 1.2rem 0.8rem 1.2rem; width: 33.6rem; }