@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src:  url('../light/Roboto-Light-webfont.woff') format('woff'),
        url('./light/Roboto-Light-webfont.ttf') format('truetype');

}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:  url('./regular/Roboto-Regular-webfont.woff') format('woff'),
        url('./regular/Roboto-Regular-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:  url('./medium/Roboto-Medium-webfont.woff') format('woff'),
        url('./medium/Roboto-Medium-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:  url('./bold/Roboto-Bold-webfont.woff') format('woff'),
        url('./bold/Roboto-Bold-webfont.ttf') format('truetype');
}
