/* =Button Variables
-----------------------------------------------------------------------------*/
$font-size-btn-normal       : 1.4rem; // 14px or 94% by default
$font-size-btn-small        : 1.2rem; // 12px or 80% by default
$font-size-btn-upper-normal : 1.1rem; // 11px or 74% by default
$font-size-btn-upper-small  : 1.0rem; // 10px or 66% by default

// Button Padding
$padding-btn                : 0 3.2rem;
$padding-btn-small          : 0 2.0rem;
$padding-btn-outline        : 0 3.1rem;
$padding-btn-small-outline  : 0 1.9rem;

$input-height               : 4.0rem;
$input-height-small         : 3.2rem;

// Extra Colors
$color-default              : #e5e5e5;
$color-primary              : #2f77d1;
//  $color-success              : #0A8754;
//  $color-error                : #d11149;
//  $color-warning              : #f4d31e;

/* =Buttons
-----------------------------------------------------------------------------*/
// Btn
@mixin make-btn($main-color, $hover-light: 5) {
  color     : rgba(255, 255, 255, .9);
  background: $main-color;
  
  &:active {
//      &:hover {
    color: rgba(255, 255, 255, .7);
    @include background-color-light($main-color, $hover-light);
  }
  &[disabled] {
      &:active {
//      &:hover {
      color: rgba(255, 255, 255, .9);
      background: $main-color;
    }
  }
  &[outline] {
    background: none;
    color: $main-color;
    border-color: $main-color;

    &:active {
//      &:hover {
      background: $main-color;
      border-color: $main-color;
      color: rgba(255, 255, 255, .9);
    }

    &[disabled] {
      &:active {
//    &:hover {
        background: none;
        border-color: $main-color;
        color       : $main-color;
      }
    }
  }
}

//.btn,
button {
  display       : inline-block;
  vertical-align: top;

  font-family   : $font-family-base;
  font-size     : $font-size-btn-normal;
  font-weight   : normal;

  white-space   : nowrap;

  padding       : $padding-btn;
  height        : $input-height;
  min-width     : $input-height * 3;
  line-height   : $font-size-btn-normal;

  text-align    : center;
  text-decoration: none;

  -webkit-appearance: none;

  outline       : none;
  margin        : 0;
  border        : none;
  border-radius : $global-radius;
  box-shadow    : none;
  cursor        : pointer;
  color         : rgba(0, 0, 0, 1);
  background    : $color-default;

//  &:hover {
//    @include background-color-light($color-default, 3);
//    color       : rgba(0, 0, 0, .6);
//    //text-decoration: none;
//  }
  // TJH Add 
  &:active {
    @include background-color-light($color-default, 3);
    color       : rgba(0, 0, 0, .6);
    // background-color: #33a !important;
  }
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

//  &[disabled] {
//    cursor      : default;
//    box-shadow  : none;
//    opacity     : 0.4;
//    
//    &:active {
////    &:hover {
//      background   : $color-default;
//      color        : rgba(0, 0, 0, 1);
//      text-decoration: none;
//    }
//  }

  &[outline] {
    padding     : $padding-btn-outline;
    background  : none;
    border      : 1px solid rgba(0, 0, 0, .25);
    color       : rgba(0, 0, 0, .6);

    &:active {
//    &:hover {
      border-color: rgba(0, 0, 0, 1);
      color       : rgba(0, 0, 0, 1);
      //text-decoration: none;
    }
//    &[disabled] {
//      cursor      : default;
//      box-shadow  : none;
//      opacity     : 0.4;
//
//      &:active {
////      &:hover {
//        border      : 1px solid rgba(0, 0, 0, .25);
//        background  : none;
//        color       : rgba(0, 0, 0, .7);
//        //text-decoration: none;
//      }
//    }
  }

  &[small] {
    font-size   : $font-size-btn-small;
    padding     : $padding-btn-small;
    height      : $input-height-small;
    min-width   : $input-height-small * 3;
    line-height : $font-size-btn-small;
    &[outline] {
      padding     : $padding-btn-small-outline;
    }
  }

  &[upper] {
    text-transform: uppercase;
    font-size : $font-size-btn-upper-normal;
    &[small] {
      font-size   : $font-size-btn-upper-small;
    }
  }

  // Round button (Material Design "Fab" style)
//  &[round] {
//    padding     : 0 !important;
//    min-width   : 0;
//    width       : $input-height;
//    border-radius: $input-height;
//    &[small] {
//      width       : $input-height-small !important;
//      border-radius: $input-height-small;
//    }
//  }
  
  // Primary button style
  &[type="primary"] {
    @include make-btn($color-primary, 10);
  }
// }
// 
// button {
  &[square] {
    padding     : 0 !important;
    min-width   : 0;
//    width       : $input-height;
    font-weight: bold;  
    background  : none;
    &:active { opacity: 0.1}
  }
}

// .btn-group {
//  @include clearfix;
//  display   : inline-block;
//  vertical-align: bottom;
// 
//  & .btn,
//  & button {
//    float     : left;
//    margin-left: -1px;
//    &:first-child { border-radius: $global-radius 0 0 $global-radius }
//    &:last-child  { border-radius: 0 $global-radius $global-radius 0 }
//  }
// }