/* =Form Elements
-----------------------------------------------------------------------------*/
input[type=text] {  
  margin        : 8px 12px;
  
  font          : 1.6rem sans-serif;
  line-height   : 3.2rem;
  text-align    : center;
  border        : 1px solid rgba(0, 0, 0, .25);

  // Force styling for IOS devices
  padding       : 0;          // padding != 0 changes the position
  border-radius : 0;          // must be explicitly set in IOS
  -webkit-appearance: none;   // disables IOS shading / countersinking
}
