@import 'mixins';
@import 'variables';
@import 'reset';
@import 'typography';
@import 'forms';
@import 'buttons';

/* =Application / mixins and variables 
-----------------------------------------------------------------------------*/

$body-width      : 36rem;
$row-height      : 4.8rem;

@mixin row($height) {
  height        : $height;
  
  &[rows="2"] { height: $height * 2 };
  &[rows="3"] { height: $height * 3 };
  &[rows="4"] { height: $height * 4 };
}

body {
  width         : $body-width
}

/* =Application / general text cell styling 
-----------------------------------------------------------------------------*/
.details {
  display       : inline-block;
  margin        : 0 0 0 0.8rem;

//  height        : $row-height;
  width         : $input-height * 4;  
  font          : $row-height/3 sans-serif;
  line-height   : $row-height;
  
	white-space   : nowrap;
	overflow      : hidden;

  -webkit-text-overflow: ellipsis;
         text-overflow : ellipsis;
}

/* =Application / header bar
-----------------------------------------------------------------------------*/
header {
  @include row($row-height);
  
  &.connected    { background-color: cornflowerblue }
  &.disconnected { background-color: darkorange }
  
  button {
    width       : $row-height;
    height      : $row-height;
  }
}

/* =Application / results panel 
-----------------------------------------------------------------------------*/
#results {
  // Climber id row
  .search {
    display       : inline-block;
    box-sizing    : border-box;
    vertical-align: top;

    margin        : $row-height/2 $row-height/4;
    width         : $body-width - ($row-height/2);
    height        : $row-height;

    background-color: lightgray;

    input[type=text] {
      float       : left;
      width       : 72px;
    }
  
    button {
      width       : $row-height;
      height      : $row-height;

      float       : right;
      background-color: orange;
    } 
  }

  // results rows
  .row {
  //  display     : block;
    text-align    : center; 
  
    .list {
      @include noselect;
  
      padding     :  1rem 0 0.2rem 0;
      text-transform: uppercase;
      font-size   : $font-size-btn-upper-normal;
      line-height : 36px;
      letter-spacing: .2em;
      width       : 100%;
    }

    .round {
      $border-stroke: 4px;
      $round-radius : 72px;
    
      @include noselect;

      @include box-sizing(border-box);
  //    display     : block;
  //  	text-align  : center;
      margin      : 0 auto;
      font-size   : $round-radius/2;
      line-height : $round-radius - ($border-stroke * 2);
    	color       : rgba(1, 1, 1, .6);
  
  //    padding     : 0 !important;
  //  	background  : none;
    	border      : $border-stroke solid rgba(0,0,0, .25);
      border-radius: $round-radius;
    
      height      : $round-radius;
      width       : $round-radius;
    }  
  }
}

/* =Application / settings panel
-----------------------------------------------------------------------------*/
#settings { 
  :first-child { margin-top: $row-height/2; }
  
  // Use the modal class for each 'row'
  .modal {
    @include row($row-height);
    
    label {
      display   : inline-block;
      margin    : 0 0 0 1.8rem;
      width     : $body-width * 0.6;
  
      text-transform: uppercase;
      font-size : $font-size-btn-upper-normal;
      line-height: $row-height;
    }
    
    input[type=text] {
      width     : 72px;
    }
  }
  
  // Override the general 
  button {
    margin      : 2.4rem 1.2rem 0.8rem 1.2rem;
    width       : $body-width - ($row-height/2);
  }
}