!!! 5
%html
  %head
    %title  Data Entry

    / Meta Tags
    %meta{ :charset=>'UTF-8'}
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }

    / Stylesheets
    %link{ :rel=>'stylesheet', :href=>'./admin.css' }

  %body
    / Structural Content
    #inner
      %h3.title{ data: { wetid: "#{@wetid}"}}
        = "#{@name}"

      %div.header
        %span.bloc PerId:
        %input.textbox{ :id=>'perid', :type=>'text', :pattern=>'[0-9]*' }
        %span{ :id=>'grpid' }
        %span{ :id=>'name' }
        %span{ :id=>'result' } 0.0
        %br
      %div{ :id=>'tiles' }
      %button{ :id=>'submit'} Submit

    / Backbone View Templates
    / View template
    %script{ :type=>'text/html', :id=>'boulder_tmpl', }
      %span.bloc {{id}}
      %input.textbox{ :type=>'text', :pattern=>'[0-9]' }
      %span.flag &nbsp;
      %span.flag &nbsp;
      %span.flag &nbsp;
      %span.flag &nbsp;

    / Modernizr library module (touch detection)
    / %script{ :src=>'./libs/modernizr-2.6.2.min.js' }

    / jQuery & Backbone/Underscore library modules
    / %script{ :src=>'./libs/jquery-1.7.1.min.js' }
    %script{ :src=>'./libs/underscore-1.8.2.min.js' }
    %script{ :src=>'./libs/backbone-1.2.2.min.js' }
    %script{ :src=>'./libs/backbone.nativeview-0.3.3.js' }

    / Application Code
    %script{ :src=>'./admin.min.js' }
    :javascript
      document.addEventListener('DOMContentLoaded', function(){
        new App.ResultView()
      })
