!!! 5
%html
  %head
    %title  Nexus Results
    / Meta Tags
    %meta{ :charset=>"UTF-8"}
    /%meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1.0" }
    %meta{ :name=>"viewport", :content=>"width=600, user-scalable=0" }
    /  CSS
    %link{ rel: "stylesheet", href: "./css/header.css" }

    %body
      %script{ src: './js/mithril.min.js' }
      %script{ src: './js/mithril-storage.js' }
      %script{ src: './boulderinput.js' }
      
