!!! 5
%html
  %head
    %title CWIF Results Client
    %meta{ charset: 'UTF-8'}
    %meta{ content: 'width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0', 
      name: 'viewport' }
    / %meta{ content: 'yes', name: 'mobile-web-app-capable' }
    / %meta{ content: 'yes', name: 'apple-mobile-web-app-capable' }
    // Stylesheets
    %link{ rel: 'stylesheet', href: './results_cwif.css' }
  %body
    %script{ src: './cwifresults-es6.js' }


