!!! 5
%html
  %head
    %title Display Client
    %meta{ content: 'width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0', 
      name: 'viewport' }
    / %meta{ content: 'yes', name: 'mobile-web-app-capable' }
    / %meta{ content: 'yes', name: 'apple-mobile-web-app-capable' }
    // Stylesheets
    %link{ rel: 'stylesheet', href: './app.css' }
    %link{ rel: 'stylesheet', href: './display_ifsc.css' }
    %link{ rel: 'stylesheet', href: './display_cwif.css' }
  %body
    %script{ src: './cwifdisplay-es6.js' }
    :javascript
      sessionStorage.setItem('wet_id', 99)

