!!! 5
%html
  %head
    %title  Admin client
    %meta{ charset: 'UTF-8'}
    %meta{ content: 'width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0', 
      name: 'viewport' }
    // Stylesheets
    %link{ rel: 'stylesheet', href: './admin.css' }
  %body
    %script{ src: './admin-es6.js' }
