!!! 5
%html
  %head
    %title  Mithril Example
    %link{ rel: 'stylesheet', href: './admin.css' }
    
  %body#inner      

  %script{ :src=>'./mithril.min.js' }
  %script{ :src=>'./mithril-test.js' }
  :javascript
    document.addEventListener('DOMContentLoaded', function(){
      var c = m.component(App.CompetitionVC, { wetid: "#{@wetid}", title: "#{@title}" })
      m.mount(document.querySelector('#inner'), c)
    })      