!!! 5
%html
  %head
    %title  Mithril Example
    
    %link{ rel: 'stylesheet', href: './admin.css' }

    
  %body
    #inner
      %h3.title
        = "#{@name}"
      
      %div.header
      %div#tiles

  %script{ :src=>'./mithril.min.js' }
  %script{ :src=>'./test.js' }
  :javascript
    document.addEventListener('DOMContentLoaded', function(){
      window.console.log("#{@wetid}")
      //m.mount(document.getElementById('inner'), bloc.view())
    })      