!!! 5
%html
  %head
    %title  Data Entry
    / Meta Tags
    %meta{ :charset=>'UTF-8'}
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    /  CSS
    %link{ rel: 'stylesheet', href: './stylesheets/admin.css' }

  %body#inner

  %script{ src: './js/mithril.min.js' }
  %script{ src: './m-results.js' }
  :javascript
    var c = m.component(App.CompetitionVC, { wetid: "#{@wetid}", title: "#{@title}" })
    m.mount(document.body, c)