!!! 5
%html
  %head
    %title  Nexus Results
    / Meta Tags
    %meta{ :charset=>"UTF-8"}
    /%meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1.0" }
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }
    %meta{ name: "apple-mobile-web-app-status-bar-style",  content: "white" }
    %meta{ :name=>"viewport", :content=>"width=360, user-scalable=0" }
    /  CSS
    %link{ rel: "stylesheet", href: "./stylesheets/css/nexus.css" }

    %body
      %script{ src: './js/mithril.min.js' }
      %script{ src: './js/mithril-storage.js' }
      %script{ src: './js/mithril-touch.js' }
      %script{ src: './nexus-app-min.js' }
