!!! 5
%html
  %head
    %title  Data Entry
    / Meta Tags
    %meta{ :charset=>'UTF-8'}
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    / CSS
    %link{ rel: 'stylesheet', href: './stylesheets/o.css' }
    %link{ rel: 'stylesheet', href: './stylesheets/o.print.css', media: 'print' }

  %body#inner

  %script{ src: './js/mithril.min.js' }
  %script{ src: './js/mithril-storage.js' }
  %script{ src: './o-app-min.js' }    