!!! 5
%html
  %head
    %title Streaming Client 
    / Meta Tags
    %meta{ :charset=>"UTF-8"}
    /%meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1.0" }
    %meta{ name: "viewport", 
              content: "width=device-width, height=device-height, initial-scale=1.0" }
    %meta{ name: "mobile-web-app-capable", content: "yes" }
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }
    %meta{ http-equiv: "cleartype", content: "on" }
    /  CSS
    %link{ rel: "stylesheet", href: "./app.css" }

  %body
    %script{ src: './app-es6.js' }
